*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: Inter-VariableFont_opsz;
    src: url(Inter-VariableFont_opsz,wght.ttf);
}
h1{
    font-weight: 700;
    color:  white;
}
h2{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: medium;

}
p{
  color:white; 
  font-weight: 400;
  font-size: 0.7rem;
}

body{
    min-height: 100vh;
    width:100vw;
    font-family: Inter-VariableFont_opsz;
    background-color: black;
    line-height: 1.8rem;
       
}

img{
    width: 10rem;
    height: 6.5;
    border-radius: 18rem;
    margin-block-start: 2rem;
}
main{
    min-height: 25rem;
    width:30rem ;
    background-color:   hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    margin: 15rem auto;
    
}
ul{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
    width: 60%;
    padding: 1rem 0rem;
    
    
}
ul li{
   
    background-color: hsl(0, 1%, 28%);
    display:inline-block; 
     border: 2px solid hsl(0, 1%, 28%);
     width: 100%;
     padding: 0.5rem;
     border-radius: 0.7rem;
     text-align: center; 
}
ul li:hover{
background-color: hsl(75, 94%, 57%);

}

li a{
    width: 100%;
   text-decoration: none;
    color: white;
    align-content: center;

}
a:hover{
    color: hsl(0, 0%, 18%);
}


